{% extends "common/base.html" %}

{% block content %}
<h2>Профил на {{ user.username }}</h2>

{% if traveler.avatar %}
    <img src="{{ traveler.avatar.url }}" alt="Аватар">
{% else %}
    <p>Няма качен аватар</p>
{% endif %}

<p><strong>Биография:</strong> {{ traveler.bio }}</p>

<a href="{% url 'edit_profile' %}" class="btn btn-primary">Редактирай профил</a>

<form action="{% url 'delete_profile' %}" method="post" onsubmit="return confirm('Сигурен ли си, че искаш да изтриеш акаунта си?');">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Изтрий акаунта</button>
</form>


{% endblock %}
