<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отиди до</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>
<body>

<nav>
    <div>
        <a href="/">
            <i>Отиди до</i>
        </a>
        <div>
            <ul>

                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Изход</a></li>

                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>

                <li><a href="{% url 'profile' %}">Моят профил</a></li>
                <li><span>Здравей, {{ user.username }}!</span></li>
                {% else %}
                <li><a href="{% url 'login' %}">Вход</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}


                <li>
                    <a href="{% url 'nature_ideas' %}">
                        <i>Природа</i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'urban_ideas' %}">
                        <i>Градско</i>
                    </a>
                </li>
                <li>
                    <a href="{% url 'event_ideas' %}">
                        <i>Специални събития</i>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</nav>


{% block content %}
{% endblock %}

<script src="{% static 'js/search.js' %}"></script>

</body>
</html>