<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Отиди до</title>
</head>
<body>

<nav>
    <div>
        <a href="/">
            <i>Отиди до</i>
        </a>
        <div>
            <ul>

                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Изход</a></li>

                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>

                <li><a href="{% url 'profile' %}">Моят профил</a></li>
                <li><span>Здравей, {{ user.username }}!</span></li>
                {% else %}
                <li><a href="{% url 'login' %}">Вход</a></li>
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% endif %}


                <li>
                    <a href="*">
                        <i>Природа</i>
                    </a>
                </li>
                <li>
                    <a href="*">
                        <i>Градско</i>
                    </a>
                </li>
                <li>
                    <a href="*">
                        <i>Специални събития</i>
                    </a>
                </li>


            </ul>
        </div>
    </div>
</nav>

<h2>Най-харесвани идеи</h2>
<ul>
  {% for idea in top_ideas %}
    <li>
      <a href="{% url 'idea_detail' idea.pk %}">{{ idea.title }}</a> — {{ idea.num_likes }} ❤️
    </li>
  {% empty %}
    <li>Все още няма популярни идеи.</li>
  {% endfor %}
</ul>


<p>Думички над търсачката</p>
<form method="get" action="{% url 'search' %}">
    <input type="text" name="q" placeholder="Търси преживяване..." required>
    <button type="submit">🔍</button>
</form>



{% block content %}
{{% endblock %}

<script src="{% static 'js/search.js' %}"></script>

</body>
</html>